@using KendoGridBinderEx.Examples.MVC.Extensions
@model KendoGridBinderEx.Examples.MVC.Data.Entities.Product

@{
    ViewBag.Title = "Add";
}

@using (Html.BeginPostForm("form")) {
    @Html.ValidationSummary(true)

    @Html.EditorForModel("_EditProduct")

    <p>
        @Html.SubmitFormLink("save", "Create") |
       @Html.ActionLink("Back to List", "Index")
    </p>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}