@using StackExchange.Profiling
<html ng-app="mainModule">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - KendoGridBinderEx MVC Demo</title>
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/ContentKendo")
    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/common")
    @Scripts.Render("~/bundles/kendo")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/angular")
</head>

<body>
    <script type="text/javascript">
        angular.module('mainModule', ['kendo.directives']).config(['$controllerProvider', function ($controllerProvider) {
            //$controllerProvider.allowGlobals();
        }]);
    </script>
    
    @Scripts.Render("~/bundles/angularControllers")

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-collapse collapse">
                @Html.MvcSiteMap().Menu()
                <script>
                    //$(document).ready(function () {
                    $("#menu").kendoMenu();
                    //});
                </script>

                Hello, '<span class="username">@User.Identity.Name</span>' : Roles '@string.Join(",", Roles.GetRolesForUser(User.Identity.Name))' (All Roles: @string.Join(",", Roles.GetAllRoles()) )
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Html.Partial("_KendoDataSources")
    @Html.Partial("_Icons")
    @RenderSection("scripts", false)
    @MiniProfiler.RenderIncludes()
</body>
</html>