@using StackExchange.Profiling

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - KendoGridBinderEx MVC Demo</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        <link href="@Url.Content("~/Content/kendo/2013.2.716/kendo.common.min.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/kendo/2013.2.716/kendo.silver.min.css")" rel="stylesheet" type="text/css" />
        @Styles.Render("~/Content/css")
        
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/common")
        @Scripts.Render("~/bundles/kendo")
        <script src="@Url.Content("~/Scripts/kendo/2013.2.716/cultures/kendo.culture.en-US.min.js")"></script>
        @Scripts.Render("~/bundles/knockout")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-right">
                    <section id="login">
                        Hello, <span class="username">@User.Identity.Name</span>
                    </section>
                    <nav>
                        @Html.MvcSiteMap().Menu()    
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - KendoGridBinderEx MVC Demo</p>
                </div>
            </div>
        </footer>
        
        <script>
            $(document).ready(function () {
                $("#menu").kendoMenu();
            });
        </script>
        @RenderSection("scripts", false)
        @MiniProfiler.RenderIncludes()
    </body>
</html>