@using StackExchange.Profiling

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - KendoGridBinderEx MVC Demo</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        <link href="@Url.Content("~/Content/kendo/2013.2.716/kendo.common.min.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/kendo/2013.2.716/kendo.silver.min.css")" rel="stylesheet" type="text/css" />
        @Styles.Render("~/Content/css")
        
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/common")
        @Scripts.Render("~/bundles/kendo")
        @Scripts.Render("~/bundles/knockout")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("KendoGridBinderEx MVC Demo", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        Hello, <span class="username">@User.Identity.Name</span>!
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Employees (TEntity & TViewModel)", "Index", "Employee")</li>
                            <li>@Html.ActionLink("Products (TEntity & TViewModel)", "Index", "Product")</li>
                            <li>@Html.ActionLink("Organizational Units (TEntity & TViewModel)", "Index", "OU")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - KendoGridBinderEx MVC Demo</p>
                </div>
            </div>
        </footer>

        @RenderSection("scripts", false)
        @MiniProfiler.RenderIncludes()
    </body>
</html>