@model KendoGridBinderEx.Examples.MVC.Models.EmployeeVM

<table>
    <tr>
        <td style="width: 200px;">
            @Html.LabelFor(model => model.CompanyId)
        </td>
        <td style="width: 400px;">
            @Html.DisplayFor(model => model.CompanyName)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(model => model.Number)
        </td>
        <td>
            @Html.DisplayFor(model => model.Number)
        </td>
    </tr>
    <tr>
        <td>
             @Html.LabelFor(model => model.First)
        </td>
        <td>
            @Html.DisplayFor(model => model.First)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(model => model.LastName)
        </td>
        <td>
            @Html.DisplayFor(model => model.LastName)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(model => model.Email)
        </td>
        <td>
            @Html.DisplayFor(model => model.Email)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(model => model.FunctionId)
        </td>
        <td>
            @Html.DisplayFor(model => model.FunctionName)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(model => model.SubFunctionId)
        </td>
        <td>
            @Html.DisplayFor(model => model.SubFunctionName)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(model => model.HireDate)
        </td>
        <td>
            @Html.TextBoxFor(model => model.HireDate, new { disabled="disabled", @readonly = "readonly" })
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(model => model.IsManager)
        </td>
        <td>
            @Html.DisplayFor(model => model.IsManager)
        </td>
    </tr>
</table>

<script type="text/javascript">
    $(document).ready(function () {
        $("#HireDate").kendoDatePicker({
            value: new Date(),
            format: 'dd/M/yyyy'
        });
    });
</script>